<table class="table">
  <thead>
    <tr>
      <th scope="col">Food</th>
      <th scope="col">Quantity</th>
      <th scope="col">Value</th>
      <th scope="col">Action</th>
    </tr>
  </thead>
  <tbody>
    <% foods.each do |food| %>
      <tr>
        <td><%= food[:name] %></td>
        <td><%= food[:quantity] %></td>
        <td><%= food[:quantity] * food[:price]%></td>
        <td><%=link_to "🗑del food", user_recipe_recipe_food_path(id: food[:id], recipe_id: @recipe.id), data: { turbo_method: :delete, 'turbo-confirm': 'Are you sure?', class: 'text-white' }  %></td>
      </tr>
    <% end %>
  </tbody>
</table>
