<h1 class="text-center text-success">Recipes List</h1>
<button type="button" class="btn btn-outline-success m-2">
  <%=link_to "Add new recipe", new_user_recipe_path(@user)%>
</button>
<% @recipes.each do |recipe|%>
  <%= render recipe%>
<% end %>
<div class="dropdown">
  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
    Dropdown button
  </button>
  <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
    <li><a class="dropdown-item" href="#">Action</a></li>
    <li><a class="dropdown-item" href="#">Another action</a></li>
    <li><a class="dropdown-item" href="#">Something else here</a></li>
  </ul>
</div>
