<!-- inside app/views/home/index.html.erb -->
<h1>Recipes List</h1>
<button type="button" class="btn btn-outline-primary">
  <%=link_to "Add new recipe", new_user_recipe_path(@user)%>
</button>
<% @recipes.each do |recipe|%>
  <%= render recipe%>
<% end %>
